<div class="container">
	<div class="row">

		<section class="landing col-xs-8">
			<div class="text">
				<h1>Wie zijn wij?</h1>
				<p>De Stichting Veteranen Amsterdam heeft als belangrijkste doelstelling zorg te dragen veteranen en directe familieleden, die om wat voor reden dan ook de weg naar, en het vragen om, hulp moeizaam vinden en met hun probleem rond blijven lopen met alle mogelijke gevolgen van dien.</p>
		
				
				<p>Wij (de Stichting Veteranen Amsterdam) zijn veteranenhelpers/kameradenhelpers (nuldelijns) en absoluut géén behandelaars, wij zullen onze maten die te maken hebben met de verwerking van en aanverwante zaken, te allen tijde doorverwijzen naar de professioneel hulpverlening.</p>

				<p>Het is vanzelfsprekend dat wij, indien gewenst, onze veteranen en directe familieleden trachten te begeleiden naar een hulpverlener en houden een ‘oogje in het zeil’ zodra een hulpverleningstraject is ingezet.</p>
			</div>
			
			<div class="text">
				<h2>Wat biedt de stichting binnen de Veldpost nog meer</h2>

				<p>Een huiskamer- en inloop voorziening. In de huiskamer is – naast gratis koffie en thee, TV, radio, bibliotheek met boeken en tijdschriften en computergames – specifieke informatie aanwezig in de vorm van brochures en folders met betrekking tot regelingen, sociale verbanden, en zorgvoorzieningen voor veteranen.
				De organisatie van activiteiten waarbij veteranen en anderen elkaar kunnen ontmoeten en de organisatie van lotgenotencontact (reünies, vergaderingen e.d.).
				Maatschappelijke dienstverlening aan alle veteranen. De gastheren, alle veteranenhelpers bieden een luisterend oor en kunnen algemene informatie, advies en ondersteuning geven aan veteranen en/of hun naasten.
				Ruimte in de Veldpost voor lezingen, cursussen, informatiedagen, trainingen en sociale activiteiten..</p>
			</div>

			<div class="text">
				<h2>Belangrijke Adressen</h2>

				<ul>
					<li>Veteranenloket: 088-3340000 / zorg@veteraneninstituut.nl</li>
					<li>BNMO: 0343-474110</li>
					<li>De Basis: 0343-474200</li>
					<li>ABP(zorgloket): 045-5798005</li>
				</ul>

			</div>

			<div class="text">
				<h2>Bij de stichting zijn betrokken:</h2>
				<ul>
					<li><span class="bold">Voorzitter: </span>Robert Hopman</li>
					<li><span class="bold">Secretaris: </span>Eugene Sandel</li>
					<li><span class="bold">Penningmeester: </span> Rob van Heuveln</li>
					
				</ul>
				<div class="col-xs-10 padding-v no-float">
					<img class="img-responsive" src="assets/oldfriends.jpg" alt="">
				</div>
			</div>
	

		</section>

		<div ng-include="'partials/sponsors.ng.html'"></div>

	</div>
</div>
