
<div class="container">
	<div class="row">

		<section class="landing col-xs-8">
			<div class="text">
				<h1>Activiteiten</h1>
				<p>Op dit moment zijn we nog hard bezig met de website. Een agenda verschijnt binnenkort. Wel kunt de agenda van <a href="http://www.veteraneninstituut.nl/ontmoeten/agenda/">het Veteraneninstituut</a> bekijken. </p>
			</div>

			<template name="todoList">
			    A couple of todos
			</template>

		<blaze-template name="todoList"></blaze-template>
		<!-- {{>fullcalendar}}
			<template name="example">
			  	asda
					{{>fullcalendar}}
			</template> -->

		</section>

		<div ng-include="'partials/sponsors.ng.html'"></div>

	</div>
</div>
