
<div class="image-container">
	
</div>

<div class="container">
	<div class="row">
		<section class="no-posts col-xs-10 content-center" ng-if="!posts.length">
			<h1>Geen berichten</h1>
		</section>	

		<section class="blog-list col-xs-10 content-center" ng-repeat="post in posts">


			<div class="posts col-xs-12">

				<aside class="information col-xs-2">
						<time>{{ post.date }}</time>
						<div class="user">
							<span class="username">Marciano Schildmeijer</span>
						</div>
				</aside>

				<article class="post col-xs-8">
					<h1>{{ post.title }}</h1>
					<p>{{ post.intro }}</p>
					<div class="col-xs-8 padding-v margin-r-20">
						<img class="img-responsive" src="assets/oldfriends.jpg" alt="">
					</div>
				</article>


			
			</div>

		</section>

		<div ng-include="'partials/sponsors.ng.html'"></div>
		
	</div>
</div>

