<div class="container">
	<div class="row">

		<section class="landing col-xs-8">
			<div class="text">
				<h1>Contact</h1>
				<div class="col-xs-4 padding-v">
					<a href="tel:088 334 00 00"><img class="img-responsive" src="assets/sos11.jpg" alt=""></a>
				</div>
				<p>Klikt u voor acute hulp op de SOS knop om met het Veteranenloket in contact te treden.</p>


				<p>Het Veteranenloket biedt informatie en advies voor veteranen en hun thuisfront. Indien gewenst, kan ook het startpunt zijn van een hulpverleningstraject. Hiervoor is geen verwijzing van een huisarts nodig en er zijn diverse mogelijkheden voor een afspraak bij u in de buurt.</p>

				<p>Het Veteranenloket is 24 uur per dag, 7 dagen per week bereikbaar.</p>
				<p>U kunt bellen met 088 334 00 00 of mailen naar <a href="mailto:info@veteranenloket.nl">info@veteranenloket.nl</a></p>
			</div>




		</section>

		<div ng-include="'partials/sponsors.ng.html'"></div>

	</div>
</div>
