<div class="container" ng-if="userId">
	<div class="row">
		<section class="create-post col-xs-6 col-xs-offset-3" ng-if="!editPost">
			<h1>Maak bericht</h1>
			<div ng-if="errors" class="alert alert-danger">
				<strong>De volgende foutmelding(en) zijn opgetreden: </strong>

				<ul ng-repeat="error in errors">
					<li>{{error}}</li>
				</ul>
			</div>
			<form>
				<input name="title" class="form-control" type="text" placeholder="Titel">
				<input name="intro" class="form-control" type="text" placeholder="Intro">
				<textarea name="message" id="message" class="form-control" cols="30" rows="10" placeholder="Bericht"></textarea>
				<button class="btn btn-primary" ng-click="createTextArea()">Nieuwe Alinea</button>

				<div ng-repeat="t in textareaCustom" class="customTextField{{$index}}">
			<!-- 		{{'index: ' +$index}} -->
					{{t}}
					<input type="text">
					<button class="btn btn-danger" ng-click="deleteTextArea($index)">Verwijder paragraaf</button>
				</div>


    			<input type="submit" value="Submit" ng-click="createPost()" class="btn btn-primary" />

			</form>


		<!-- 	<form action="" method="post" enctype="multipart/form-data">
				<input type="file" name="file" />
    			<input type="submit" value="Upload" ng-click="formSubmit()" class="btn btn-primary" />

			</form> -->
			   <!-- <input type="checkbox" ng-model="multiple">upload multiple file -->
				 <!-- <div class="button btn btn-primary" ngf-select ngf-change="upload($files)">Upload on file change</div> -->
				  <!-- <div class="button" ngf-select ngf-change="upload($files)" ngf-multiple="true" accept="image/*">Select File</div> -->
	

					<input type="file" name="image" ng-model="image" onchange="angular.element(this).scope().uploadFile(event)" class="imageInput" check-file-upload-state>
					<button class="btn btn-danger deleteFile" ng-click="deleteFile()" disabled>delete</button>



		</section>


		<section class="create-post col-xs-6 col-xs-offset-3" ng-if="editPost">
			<h1>Wijzig bericht</h1>
			<div ng-if="errors" class="alert alert-danger">
				<strong>De volgende foutmelding(en) zijn opgetreden: </strong>

				<ul ng-repeat="error in errors">
					<li>{{error}}</li>
				</ul>
			</div>

			{{posts}}
			<form>

				<input name="title" class="form-control" type="text" placeholder="Titel" value="{{posts.title}}">
				<input name="intro" class="form-control" type="text" placeholder="Intro" value="{{posts.intro}}">

				<div ng-repeat="message in posts.message track by $index">
					<button class="btn btn-danger" ng-click="deleteTextArea(this)">Verwijder paragraaf</button>
					<textarea name="message" id="message" class="form-control" cols="30" rows="10" placeholder="Bericht">{{message}}</textarea>
				</div>
    			<input type="submit" value="Submit" ng-click="editPost()" class="btn btn-primary" />
				<button class="btn btn-primary" ng-click="createTextArea()">Nieuwe Alinea</button>


			</form>

		<!-- 	<form action="" method="post" enctype="multipart/form-data">
				<input type="file" name="file" />
    			<input type="submit" value="Upload" ng-click="formSubmit()" class="btn btn-primary" />

			</form> -->
			   <!-- <input type="checkbox" ng-model="multiple">upload multiple file -->
				 <!-- <div class="button btn btn-primary" ngf-select ngf-change="upload($files)">Upload on file change</div> -->
				  <!-- <div class="button" ngf-select ngf-change="upload($files)" ngf-multiple="true" accept="image/*">Select File</div> -->
	

					<input type="file" name="image" ng-model="image" onchange="angular.element(this).scope().uploadFile(event)" class="imageInput" check-file-upload-state>
					<button class="btn btn-danger deleteFile" ng-click="deleteFile()" disabled>delete</button>



		</section>
	</div>
</div>
