

<div class="container">
	<div class="row">
		<section class="no-posts col-xs-10" ng-if="!posts.length">
	<!-- 		<h1>404 error!</h1>
			<p>Geen zorgen! Je bent slechts beland op een pagina die niet bestaat. </p> -->
		</section>

		<section class="blog-list col-xs-12">


			<div class="posts col-xs-8">

			<!-- 	<aside class="information col-xs-2">
						<time>{{ post.date }}</time>
						<div class="user">
							<span class="username">{{post.author}}</span>
						</div>
				</aside>
 -->
				<article class="post col-xs-8">
					<h1><a href="/blog/{{post.title}}">{{ post.title }}</a></h1>
					<p>{{ post.intro }}</p>

					<p ng-bind-html="message">{{ message }}</p>
					<div class="col-xs-8 padding-v margin-r-20">
						<!-- <img class="img-responsive" src="assets/oldfriends.jpg" alt=""> -->
						<!-- <img src="/cfs/files/images/{{post.image_id}}/images?store=images" alt=""> -->
					</div>
				</article>



			</div>

		</section>

		<!-- <div ng-include="'partials/sponsors.ng.html'"></div> -->

	</div>
</div>
