


<div class="container">
	<div class="row">

		<section class="landing col-xs-8">
			<div class="text">
				<h1>Scholen Projecten</h1>
				<p>10 april 2013 was het zover, rond 8.30 uur kwam iedereen die meewerkte aan het voorlichtingsproject bijeen om aan een 5-tal basisscholen voorlichting te geven over Veteranen en het Veteranen ontmoetingscentrum de “Veldpost”. De dagen ervoor zijn Eugene, Rob, Jaap, Aart, Erik en Michael bezig geweest het Veteranen ontmoetingscentrum gereed te maken om de leerlingen van Groep 8 van basisschool ’t Twiske een leuke en informatieve rondleiding te kunnen geven. Rond 09.00 uur vertrokken we naar de Bethelkerk in Amsterdam Noord waar ondertussen de 5 basisscholen zich hadden verzameld voor een voorlichting en interview. Mevr. de Jong van het 4 en 5 mei comité begon met een korte introductie en startte daarna de bijeenkomst met het thema “Vrijheid gaat niet vanzelf”.
				</p>
				<div class="col-xs-12 padding-v no-float">
					<img class="img-responsive" src="assets/310099_246473595410432_1794597078_n1.jpg" alt="">
				</div>

			</div>
			
			<div class="text">
				<h2>Ontmoetingscentrum</h2>
				<p>Een huiskamer vol herkenning. Ons veldpost heeft als hoofdtaak het aanbieden van een ontmoetingsplek waarin iedereen zich direct herkent en thuis voelt. Betrokkenheid en oprechtheid zijn de twee belangrijkste peilers voor het creëren van deze veilige omgeving. Bovengenoemde elementen maken het mogelijk, dat veteranen en hun partner, onder het genot van een kopje koffie met elkaar van gedachten kunnen wisselen, ervaringen kunnen delen en een stuk ontspanning kunnen ervaren. Gekozen is voor een inrichting die naast huiselijkheid en gezelligheid een ambiance uitstraalt die sterk doet denken aan de diensttijd.</p>

				<p>De attributen in deze ruimte zorgen ervoor dat je de diensttijd weer even ziet, ruikt, voelt en proeft in algemene zin, het doet sterk denken aan de eerste veldoefening. De aanwezigheid van deze attributen genereert voldoende gespreksstof om met elkaar herinneringen op te halen en te delen in een ongedwongen sfeer.</p>

				<p>De inloop voorziening is van dinsdag tot en met vrijdag van 10.00 tot 17.00 uur en zaterdag van 11.00 tot 16.00 uur open en toegankelijk voor iedereen. Tijdens de openingstijden wordt u vriendelijk bijgestaan door een geschoolde vrijwilliger, welke op zijn beurt de functie van gastheer of gastvrouw vervult. Hij of zij zal u met raad en daad bijstaan.</p>
			</div>


		</section>

		<div ng-include="'partials/sponsors.ng.html'"></div>

	</div>
</div>
