<aside class="col-xs-4">
	
	<div class="sponsor-holder col-xs-12">
		<img class="img-responsive" src="assets/nuldelijns-ost.jpg" alt="">
	</div>
	<div class="sponsor-holder col-xs-12">
		<img class="img-responsive" src="assets/logo_anbi.png" alt="">
	</div>
	<div class="sponsor-holder col-xs-12">
		<img class="img-responsive" src="assets/vfonds-logo-nieuw-open8.jpg" alt="">
	</div>
	<div class="sponsor-holder col-xs-12">
		<img class="img-responsive" src="assets/vilogo.jpg" alt="">
	</div>
	<div class="sponsor-holder col-xs-12">
		<img class="img-responsive" src="assets/pitprorege.gif" alt="">
	</div>
</aside>