
<div class="container">
	<div class="row">

		<section class="landing col-xs-8">
			<div class="text">
				<h1>Fiscale voordelen voor een ANBI</h1>
				<p>Wat is het voordeel om als ANBI aangemerkt te worden door de Belastingdienst? De ANBI beschikking geeft toegang tot een groot aantal fiscale faciliteiten voor goeddoelinstellingen en haar donateurs/erflaters. Hieronder treft u een korte samenvatting aan.
				</p>

				<p>Inkomsten: Een door de Belastingdienst als zodanig aangemerkte ANBI hoeft geen erf- of schenkbelasting te betalen over erfenissen en schenkingen die de ANBI ontvangt in het kader van het algemeen belang. Fiscale faciliteiten voor ANBI’s spreiden zich uit over:
				</p>

				<ul>
					<li>Vennootschapsbelasting</li>
					<li>Inkomstenbelasting</li>
					<li>Schenk- en erfbelasting</li>
				</ul>

				<p>Uitgaven: Uitkeringen die een ANBI doet in het algemene belang zijn vrijgesteld van heffing schenkbelasting. De uitkeringen volgens de doelstellingen worden niet in Nederland belast.</p>

				<p>Donateurs/Erflaters: Als een instelling door de Belastingdienst is aangewezen als een ANBI, kan een donateur, afhankelijk van de <a href="http://www.anbi.nl/anbi-info/fiscaal-voordelig-schenken/" target="_blank">vorm waarin de giften zijn gedaan</a>, de gift van de inkomsten- of vennootschapsbelasting aftrekken (uiteraard binnen de daarvoor geldende regels). Nalatenschappen ontvangen door een ANBI zijn vrijgesteld van erfbelasting.</p>

				
				<p>De ANBI’s dienen voldoen aan de <a href="http://www.anbi.nl/anbi-info/regels-anbi/" target="_blank">eisen van de Belastingdienst</a> om in aanmerking te komen voor een beschikking die toegang geeft tot de bovengenoemde faciliteiten.</p>
			</div>
			
		


		</section>

		<div ng-include="'partials/sponsors.ng.html'"></div>
		
	</div>
</div>


