<footer>
		<div class="container">
				<div class="row">
					<div class="col-xs-8 content-center">

						<div class="footer-containers col-xs-6">
							<h3>Links</h3>
							<ul>
								<li><a href="">Maatschappelijke Dienstverlening Amsterdamse Veteranen</a></li>
								<li><a href="">Het Veteranen Instituut</a></li>
								<li><a href="">Stichting veteranen centrum “De Oude Stomp”</a></li>
								<li><a href="">Veteranen Noord-Nederland</a></li>
								<li><a href="">Home-Base Support</a></li>
							</ul>
						</div>

						<div class="footer-containers col-xs-6">
							<h3>Bereik ons</h3>
							<ul>
								<li>Kometensingel 150</li>
								<li>1033 BZ Amsterdam</li>
								<li>(020) 221 94 21 / (06) 424 08 272</li>
								<li>Ma. t/m Vrij: 10.00u – 17.00u </li>
								<li>
								Zaterdag: 
								11.00u – 16.00u</li>
							</ul>
							
						</div>
					</div>


				</div>
			</div>	
	
			<div class="small-footer">
				<div class="container">
					<div class="row">
						<div class="social col-xs-8 content-center">
							<i class="fa fa-facebook-official fa-2x"></i>
							<span>Vind ons op facebook</span>
						</div>
						
					</div>
				</div>
			</div>
	</footer>


<script type="text/javascript" src="lib/angular/angular.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>